* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  gap: clamp(50px, 15vw, 70px);
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  align-items: center;
  overflow-x: hidden;
}
.welcome-hat {
  width: clamp(45%, 40vw, 55%);
  height: auto;
  object-fit: cover;
  align-self: center;
  opacity: 0.3;
  transform-origin: top center;
  animation: bellRing 3s ease-in-out infinite;
}
.start-btn {
  height: clamp(48px, 9vh, 64px);
  width: clamp(280px, 70vw, 400px);
  font-family: "Poppins";
  border-radius: 4px;
  transform: translate(0px, -15px);
  background-color: #0c1d3b;
  color: #fff;
  border: none;
}
.start-btn:hover {
  transition: 300ms ease;
  cursor: pointer;
  color: #0c1d3b;
  background-color: #fff;
  border: 1px solid #0c1d3b;
}
.headerTexts {
  transform: translate(-15px, 20px);
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0;
}
.headerTexts h3,
.headerTexts p {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
}
.headerTexts h3 {
  font-family: "Cal Sans";
  transform: translateY(6px);
  font-weight: lighter;
  color: #0c1d3b;
  font-size: clamp(1.1rem, 3vw, 2rem);
}
.headerTexts p {
  font-family: "Cal Sans";
  font-weight: 470;
  font-size: clamp(1.7rem, 8vw, 5rem);
  background: linear-gradient(90deg, #0d4097, #9b9ac1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.intro-text {
  width: clamp(60%, 70vw, 80%);
  text-align: center;
  font-size: clamp(0.85rem, 3vw, 1.8rem);
  color: #293141;
  font-family: "Poppins";
}

@keyframes bellRing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-13deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1024px) {
  .start-btn {
    height: clamp(60px, 10vw, 80px);
    font-size: clamp(10px, 7vw, 30px);
    border-radius: 6px;
  }
  .wrapper {
    margin-bottom: 20vh;
  }
}

@media screen and (min-width: 1600px) {
  .headerTexts h3 {
    font-size: clamp(40px, 14vw, 55px);
  }
  .headerTexts p {
    font-size: clamp(70px, 25vw, 95px);
  }
  .welcome-hat {
    width: clamp(15%, 30vw, 25%);
  }
  .intro-text {
    width: clamp(40%, 50vw, 60%);
    font-size: clamp(1.2rem, 3vw, 2rem);
  }
}
